
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/Prasad/Prasad
/Mazhar/Mazhar
/~WRL0005.tmp
/~$N V R V Prasad-Interview.docx
/Mohammad Mazhar Hussain khan-Interview.docx
/A N V R V Prasad.pdf
/A N V R V Prasad-Interview.docx
/A N V R V Prasad Task Ex handling question.cs
